@import "../../base-tailwind.css";

.try-aura-product-video-wrapp {
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
	right: 0 !important;
	z-index: 10 !important;

	.try-aura-add-video {
		opacity: 0 !important;
		pointer-events: none !important;
		transition: opacity 0.2s ease-in-out !important;
	}

	.try-aura-edit-video {
		opacity: 1 !important;
		visibility: visible !important;
		pointer-events: auto !important;
	}

	.try-aura-btn {
		width: 100% !important;
	}
}

#product_images_container ul.product_images li.image:hover {
	.try-aura-add-video {
		opacity: 1 !important;
		pointer-events: auto !important;
	}
}

.tryaura-add-video-modal-url {
	border-radius: 3px;

	.components-modal__content {
		padding: 0;
		margin: 0;
	}
}
