@import "../../base-tailwind.css";

.tryaura-product-video-wrapp {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	z-index: 10 !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	background-color: transparent !important;
	opacity: 1 !important;
	pointer-events: none !important;

	.tryaura-btn {
		width: 32px !important;
		height: 32px !important;
		padding: 0 !important;
		border-radius: 50% !important;
		pointer-events: auto !important;
	}
}

li.image:hover .tryaura-product-video-wrapp,
.upload_image:hover .tryaura-product-video-wrapp {
	background-color: rgba(0, 0, 0, 0.2) !important;
}

.tryaura-add-video-modal-url {
	border-radius: 3px;

	.components-modal__content {
		padding: 0;
		margin: 0;
	}
}
