@import "../../base-tailwind.css";

.try-aura-product-video-gallery {
	margin-top: 15px;
}

.product-video-thumbnail-container {
	.relative {
		display: inline-block;
	}
}

.ai-enhancer-modal {
	z-index: 160000;
}

#try-aura-add-video-container {
	padding: 0 9px 9px;
}

.tryaura {
	.tryaura-add-video-modal-url {
		.components-modal__content {
			padding: 0;
			margin: 0;
		}
	}
}
