@import "../../base-tailwind.css";

/* Ensure the parent is relative */
.woocommerce_product_images .product_images .image {
	position: relative;
}

.tryaura-add-video-modal-url {
	border-radius: 3px;

	.components-modal__content {
		padding: 0;
		margin: 0;
	}
}
