@import "../../base-tailwind.css";

@source "../dashboard/**/*.{ts,tsx,js,jsx,php,html}";


.tryaura {
	svg.recharts-surface:focus {
		outline: none;
	}
}

.tryaura-bulk-tryon-confirm-modal {
	.components-modal__content {
		padding: 0 !important;
	}
}
