@import "../../base-tailwind.css";
@source "../enhancer/**/*.{ts,tsx,js,jsx,php,html}";

.components-modal__screen-overlay {
	z-index: 160000;
}
.ai-enhancer-preview-modal {
	border-radius: 3px;

	.components-modal__content {
		padding: 0;
		margin: 0;
	}
}
