@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);

.tryaura {
  @import "tailwindcss/preflight.css" layer(base);
  @import "tailwindcss/utilities.css" layer(utilities) important;
}

@theme {
  --color-primary: #7047EB;
}


.tryaura-toast-root {
	z-index: 180000 !important;
}
